da nova{% extends 'shared/base.html' %} {% load static %} {% block title %}{{
fotografia.nome }} | Alura Space{% endblock %} {% block content %}
<article class="detail">
  <div class="detail__media">
    {% if fotografia.foto %}
    <img
      class="detail__image"
      src="{{ fotografia.foto.url }}"
      alt="{{ fotografia.nome }}"
    />
    {% else %}
    <img
      class="detail__image"
      src="{% static 'assets/imagens/galeria/not-found.png' %}"
      alt="{{ fotografia.nome }}"
    />
    {% endif %}
  </div>

  <div class="detail__panel">
    <span class="detail__category">{{ fotografia.get_categoria_display }}</span>
    <h1 class="detail__title">{{ fotografia.nome }}</h1>
    <p class="detail__subtitle">{{ fotografia.legenda }}</p>
    <p class="detail__text">{{ fotografia.descricao }}</p>
    <dl class="detail__facts">
      <div>
        <dt>Data</dt>
        <dd>{{ fotografia.data_fotografia|date:'d/m/Y' }}</dd>
      </div>
      <div>
        <dt>Autor</dt>
        <dd>{{ fotografia.usuario|default:'Nao informado' }}</dd>
      </div>
    </dl>
    <div class="detail__actions">
      <a class="button" href="{% url 'editar_imagem' fotografia.id %}"
        >Editar</a
      >
      <a
        class="button button--danger"
        href="{% url 'deletar_imagem' fotografia.id %}"
        >Excluir</a
      >
    </div>
  </div>
</article>
{% endblock %}
